TheGrace/.vs/ProjectEvaluation/thegrace.metadata.v9.bin
TheGrace/.vs/ProjectEvaluation/thegrace.projects.v9.bin
TheGrace/.vs/ProjectEvaluation/thegrace.strings.v9.bin
TheGrace/.vs/TheGrace/config/applicationhost.config
TheGrace/.vs/TheGrace/DesignTimeBuild/.dtbcache.v2
TheGrace/.vs/TheGrace/FileContentIndex/3d4a7f53-0267-4597-951b-ed5bfa518226.vsidx
TheGrace/.vs/TheGrace/FileContentIndex/5752b461-0540-44fb-aaed-ed1d52d95061.vsidx
TheGrace/.vs/TheGrace/FileContentIndex/6196702e-5acb-47fd-8515-ceb63fe7cfb5.vsidx
TheGrace/.vs/TheGrace/FileContentIndex/a4470878-b98a-4944-82fd-f931ddfbe06f.vsidx
TheGrace/.vs/TheGrace/FileContentIndex/b422c463-0021-4c6b-8f3b-0aabc6dbc120.vsidx
TheGrace/.vs/TheGrace/v17/.futdcache.v2
TheGrace/.vs/TheGrace/v17/.suo
TheGrace/.vs/TheGrace/v17/DocumentLayout.backup.json
TheGrace/.vs/TheGrace/v17/DocumentLayout.json
TheGrace/.vs/TheGrace/v17/TestStore/0/000.testlog
